container_commands:
  01_collectstatic:
    command: "./manage.py collectstatic --noinput"
  02syncdb:
    command: "./manage.py syncdb --noinput"
    leader_only: true
  03migrate:
    command: "./manage.py migrate"
    leader_only: true

packages:
  yum:
    postgresql93-devel: []

option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
